.report {
    max-width: 600px;
    margin: 0 auto;
}

.report h2, .report h3 {
    font-weight: 700;
    font-family: 'freight-sans-pro';
}

.tab-nav {
    display: flex;
    align-items: flex-start;
    margin: 6rem 0;
  }
  
  .tab-nav button {
    flex: 1;
    border: none;
    appearance: none;
    background: none;
    border-radius: 0;
    text-transform: none;
    color: black;
    border-bottom: 1px solid #DDD;
    text-align: left;
    margin-right: 4rem;
    padding: 0;
    padding-bottom: .5rem;
    display: block;
    min-height: auto;
    font-weight: 700;
    font-family: 'freight-sans-pro';
  }
  
  .tab-nav button.selected {
      color: #E3502D;
      border-color: #E3502D;
      border-width: 2px;
    }

.meet-502 {
    border-top: 1px solid #E3502D;
    border-bottom: 1px solid #E3502D;
    max-width: 960px;
    margin: 12rem auto 6rem;
    padding: 6rem 0;
    text-align: center;
}

.meet-502__heading {
    color: inherit;
    font-weight: 700;
    margin: 0 auto 2rem;
    font-family: 'freight-sans-pro';
}

.meet-502__button {
    background: #E3502D;
    border-radius: 1rem;
    font-family: 'freight-sans-pro';
    font-weight: 700;
    color: white;
}