{% extends 'base.twig' %}

{% block page_header %}
	<header class="entry-header entry-header--boxed">
		<h1 class="entry-title heading heading--light" itemprop="headline">Assessment</h1>
		<p class="entry-subtitle entry-subtitle--light" itemprop="tagline" v-html="client"></p>
	</header>
{% endblock %}

{% block content %}
<div id="content" class="site-content">
	<div id="primary" class="content-area">
		<main id="main" class="site-main">
			<article class="entry" itemscope="" itemtype="https://schema.org/CreativeWork">
				<div class="entry-content" itemprop="text">
					<div class="tab-nav">
						<button v-for="(tab, index) in tabs" @click="changeTab(index)" v-html="tab.title" :class="{'selected': currentTab === index}"></button>
					</div>
					<div class="report" v-html="currentTabContent"></div>
					{# <div class="tab-nav">
						<button v-for="(tab, index) in tabs" @click="changeTab(index, true)" v-html="tab.title" :class="{'selected': currentTab === index}"></button>
					</div> #}
				</div>

				<div class="meet-502">
					<h3 class="meet-502__heading">Want to learn more about the folks behind this review?</h3>
					<a class="button meet-502__button" href="/about-us">Meet the 502 Team</a>
				</div>
			</article>
		</main><!-- #main -->
	</div><!-- #primary -->
</div><!-- #content -->
{% endblock %}

{% block footer %}

	<div class="footer-contact text-align--center">
		<img src="{{ theme.link }}/static/images/502-logo-orange.png" class="footer-logo" />
		<div class="footer-tagline">A Strategic Marketing Agency</div>
		<div class="text-align--center footer-contact__info">
			121 S. 4th Street, Suite 209 
			<span class="vertical-sep"></span> 
			Manhattan, Kansas 66502 
			<span class="vertical-sep"></span> 
			<a href="tel:7853206621">785.320.6621</a>
		</div>
	</div>
{% endblock %}